.issue-entry-container {
    padding: 10px;
    background: linear-gradient(#EFEFEF, #FFF);

    display: flex;
    align-items: center;
}

.issue-title {
    width: calc(100% - 20px);
    margin-left: 10px;
    font-weight: bold;
}