.arrow-container {
    width: 30px;
    height: 25px;
    padding-bottom: 5px;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #ccc;
        cursor: pointer;
    }
}

.arrow {
    width: 0;
    height: 0;
    padding: 5px;
    border-bottom: 4px solid black;
    border-right: 4px solid black;

    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.41, 2.21);
}

.arrow-down {
    transform: rotate(45deg);
}

.arrow-up {
    transform: rotate(-135deg);
}